# Doxygen
doc/doxygen/

# Build stuff
build/
build_debug/
build_prod/
build_docs/

# winetricks script
winetricks

# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.out
*.app

# VS Code
.vscode/*
!.vscode/tasks.json
!.vscode/c_cpp_properties.json
!.vscode/settings.json
!.vscode/launch.json
