default:
  image: registry.melroy.org/melroy/docker-images/gtk-cmake-ninja:trixie 

stages:
  - test
  - build

static_code_analysis:
  stage: test
  script:
    - cppcheck --version
    - ./scripts/cpp-check.sh

code_style_guidelines:
  stage: test
  script:
    - clang-format --version
    - ./scripts/check-format.sh

# Test Build WineGUI + Doxygen
test-build:
  stage: build
  only:
    - merge_requests
    - main
  # Test build only builds for a deb for trixie
  # (it most likely will not work on other Debian versions or Ubuntu/Linux Mint/... distros)
  script: ./scripts/build-prod.sh "TGZ;DEB;RPM"
  artifacts:
    name: "Packages + Documentation"
    expire_in: 1 month
    paths:
      - doc/doxygen/
      - build_prod/WineGUI-*.deb
      - build_prod/WineGUI-*.rpm
      - build_prod/WineGUI-*.tar.gz

# Build Prd & Deploy new release on a new tag (deployment job),
# which includes the deb, rpm and tar.gz file as well as the latest release txt file. Based on Trixie.
# And will automatically create asset links to the existing GitLab release towards the deployment URL target files.
# TODO: Use all Debian & Ubuntu Docker tags during the build, from: https://gitlab.melroy.org/melroy/docker-images/container_registry/19
# Which should generate compatible binaries (Glibc and gtkmm4 compatible based on the distro).
build-and-deploy:
  stage: build
  rules:
    - if: '$CI_COMMIT_TAG && $CI_PROJECT_NAMESPACE == "melroy"'
  script:
    - ./scripts/build-prod.sh "TGZ;DEB;RPM"
    - export APP_VERSION=${CI_COMMIT_TAG}
    - ./scripts/create-source-archive.sh
    - ./scripts/create-release-links.sh
    - ./scripts/create-latest-release-file.sh
  environment:
    name: production
    url: https://winegui.melroy.org/downloads
  artifacts:
    name: "Packages + Documentation"
    expire_in: 3 months
    paths:
      - doc/doxygen/
      - release/
      - build_prod/WineGUI-*.deb
      - build_prod/WineGUI-*.rpm
      - build_prod/WineGUI-*.tar.gz
      - build_prod/WineGUI-Source-*.tar.gz
#unit_test:
#  stage: test
#  script: ./build_prod/bin/runTests
#  cache:
#      key: "$CI_PIPELINE_ID"
#      policy: pull
#      paths:
#        - build_prod/bin/
