default:
  image: registry.melroy.org/melroy/docker-images/gtk-cmake-ninja:trixie

stages:
  - test
  - build
  - deploy

# Linux build template (debs only)
.build_template: &build_definition
  stage: build
  rules:
    - if: $CI_PROJECT_NAMESPACE == "melroy" && $CI_COMMIT_TAG
  script:
    - ./scripts/build-prod.sh "DEB"
  artifacts:
    name: "Packages + Documentation"
    expire_in: 1 month
    paths:
      - build_prod/WineGUI-*.deb

#unit_test:
#  stage: test
#  interruptible: true
#  script: ./scripts/run-tests.sh

static_code_analysis:
  stage: test
  interruptible: true
  script:
    - cppcheck --version
    - ./scripts/cpp-check.sh

code_style_guidelines:
  stage: test
  interruptible: true
  script:
    - clang-format --version
    - ./scripts/check-format.sh

# Build trixie (deb + rpm + source archive)
build:trixie:
  stage: build
  variables:
  script:
    - ./scripts/build-prod.sh "TGZ;DEB;RPM"
    - ./scripts/create-source-archive.sh
  artifacts:
    name: "Packages + Documentation"
    expire_in: 1 month
    paths:
      - doc/doxygen/
      - build_prod/WineGUI-*.deb
      - build_prod/WineGUI-*.rpm
      - build_prod/WineGUI-*.tar.gz
      - build_prod/WineGUI-Source-*.tar.gz

# Bookworm (debian)
build:bookworm:
  image: registry.melroy.org/melroy/docker-images/gtk-cmake-ninja:bookworm
  <<: *build_definition

# Forky (debian)
build:forky:
  image: registry.melroy.org/melroy/docker-images/gtk-cmake-ninja:forky
  <<: *build_definition

# Noble (ubuntu)
build:noble:
  image: registry.melroy.org/melroy/docker-images/gtk-cmake-ninja:noble
  <<: *build_definition

# Plucky (ubuntu)
build:plucky:
  image: registry.melroy.org/melroy/docker-images/gtk-cmake-ninja:plucky
  <<: *build_definition

# Create release links + release file (containing the version)
release:
  stage: deploy
  image: serversideup/github-cli:latest
  needs:
    - job: build:bookworm
      artifacts: true
    - job: build:trixie
      artifacts: true
    - job: build:forky
      artifacts: true
    - job: build:noble
      artifacts: true
    - job: build:plucky
      artifacts: true
  rules:
    - if: $CI_PROJECT_NAMESPACE == "melroy" && $CI_COMMIT_TAG
  script:
    # Release to winegui.melroy.org/downloads
    - export APP_VERSION=${CI_COMMIT_TAG}
    - ./scripts/create-release-links.sh
    - ./scripts/create-latest-release-file.sh

    # GitHub Sync (fallback to only upload if creating a release fails)
    # Using GH_TOKEN environment variable from GitLab CI/CD variables
    - |
      gh release create "$CI_COMMIT_TAG" \
        build_prod/WineGUI-* \
        --repo "winegui/WineGUI" \
        --title "WineGUI $CI_COMMIT_TAG" \
        --notes "WineGUI Release $CI_COMMIT_TAG" || \
      gh release upload "$CI_COMMIT_TAG" \
        build_prod/WineGUI-* \
        --repo "winegui/WineGUI" \
        --clobber
  environment:
    name: production
    url: https://winegui.melroy.org/downloads
  artifacts:
    name: "Packages"
    expire_in: 3 months
    paths:
      - release/
      - build_prod/WineGUI-*.deb
      - build_prod/WineGUI-*.rpm
      - build_prod/WineGUI-*.tar.gz
      - build_prod/WineGUI-Source-*.tar.gz
