GITLAB_HOSTNAME=gitlab.com
ACCESS_TOKEN=REPLACE_WITH_READ_API_TOKEN
GITLAB_SECRET_TOKEN=REPLACE_WITH_RANDOM_SECRET
DEPLOYMENT_MODE=batch
DEPLOYMENT_ENVIRONMENT=winegui-apt-repository
DESTINATION_PATH=/app/dest
WORKER_COUNT=2
MAX_ARTIFACT_BYTES=1073741824
MAX_EXTRACTED_BYTES=2147483648
MAX_ARTIFACT_FILES=32
